@model Centric.Internship.Mvc.Models.EventModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var eventName = $"{Model.Name}";
}

@{
    var eventDetails = $" - {Model.Location} - {Model.Date}!";
}

<p><b>@eventName</b>@eventDetails</p>
<p>Description: @Model.Description</p>
<p>Contact details: @Model.ContactEmail</p>
<p>@Html.Raw(eventDetails)</p>

<p>
    @if (Model.Location.Contains("Centric"))
    {
        @:It is a company related event!
    }
    else
    {
        @:It is NOT in a company related event!
    }
</p>
